<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div th:fragment="footer" class="container-xxl">
    <div class="row mt-1 fw-bold" style="height: 35px">
        <div class="col-xxl-2">
            <p>회사소개</p>
        </div>
        <div class="col-xxl-2">
            <p>서비스 이용약관</p>
        </div>
        <div class="col-xxl-2">
            <p>개인정보 취급방침</p>
        </div>
    </div>

    <div class="row text-muted">
        <div class="col-xxl-2">
            <p>(주)GiwootJang</p>
        </div>
        <div class="col-xxl-5">
            <p> 대표자: 장기웃<br>
                주소: 서울시 땡땡구 296-216<br>
                고객센터: 02-1111-2222<br>
                이메일: songbyhyeok@gmail.com<br>
                운영시간: 09:00 ~ 18:00 (평일/주말/공휴일)<br>
                점심시간: 12:00 ~ 13:00<br>
                Copyright ©2024 - 2024 GiwootJang, Inc. All rights reserved
            </p>
        </div>
    </div>
</div>

</body>
</html>
