<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="content">
    <div class="container-xxl border-bottom">
        <p class="text-center text-muted fw-bold fs-2 m-0">회원가입</p>
    </div>

    <div class="container-sm mt-4" style="width:700px; height:630px;">
        <p class="text-muted text-center fs-5 mb-4">
            <span class="fw-bold fs-4">환영합니다!</span> <br>
            지금 회원가입을 완료하고 다양한 혜택을 경험해 보세요.
        </p>

        <div class="border-bottom mb-3">
            <p class="text-start text-muted fs-6 m-0">
                <span class="fw-bold fs-4">회원정보</span> <br>
                표시는 필수 입력 항목이오니 반드시 입력해 주세요.
            </p>
        </div>

        <form th:action="@{/signup}" method="post" id="signup-form">
            <div class="row mb-3">
                <label for="name" class="col-sm-3 col-form-label">이름</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="name" name="name" value="남궁혁">
                </div>
            </div>

            <div class="row mb-3">
                <label for="id" class="col-sm-3 col-form-label">아이디</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="id" name="id" value="s1s1s">
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" id="duplicate-check-btn">중복 검사</button>
                </div>
            </div>

            <div class="row mb-3">
                <label for="password" class="col-sm-3 col-form-label">비밀번호</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" name="password">
                    <span id="pwd-status" class="status"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="password-confirm" class="col-sm-3 col-form-label">비밀번호 확인</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password-confirm" name="passwordConfirm">
                    <span id="pwd-confirm-status" class="status"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="email" class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="email" name="email" placeholder="songbyhyeok@gmail.com" value="s@s" required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="front-phone-number" class="col-sm-3 col-form-label">휴대폰 번호</label>
                <div class="col-sm-9">
                    <div class="row g-2">
                        <div class="col-2">
                            <input type="text" class="form-control" id="front-phone-number" name="fPhoneN" value="010" maxlength="3">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="mid-phone-number" name="mPhoneN" placeholder="1234" value="1234" maxlength="4">
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" id="back-phone-number" name="bPhoneN" placeholder="5678" value="1234" maxlength="4">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-secondary" id="auth-code-generation-btn">인증번호 발송</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center" id="auth-code-div" style="display: none">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <div class="row g-2">
                        <div class="col-6">
                            <label for="auth-number-input" hidden></label>
                            <input type="text" class="form-control" id="auth-number-input" placeholder="인증번호 입력" maxlength="6">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="auth-code-verification-btn">인증</button>
                            <span id="clock" style="color:black;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3 justify-content-center mt-4">
                <div class="col-sm-2 d-flex justify-content-center">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-secondary w-100">확인</button>
                </div>
            </div>
        </form>

    </div>
</div>

</body>
</html>